html,
body,
div,
ul,
li,
svg {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*------------Global-------------*/

html,
body {
    height: 100%;
    position: relative;
    background-color: #333333;
    
}

.container {
    margin-bottom: 20px;
    max-width: 1024;
}

.toppart {
    width: 100% margin-left: 0px;
}

.introduction {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    /*    height: 230px;*/
    overflow: auto;
}

a {
    color: #628586;
}

#full-screen .btn {
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 200;
    background: rgba(0,0,0,0.8);
    font-size:18px;
    color: #666;
    text-align: center;
    padding-top:20px;
}


/*------------font-------------*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #808080;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 74px;
    text-transform: uppercase;
    font-weight: 400;
    color: #628586;
    letter-spacing: 0.015em;
}

h1 .white {
    color: #fff !important;
    font-weight: 800;
    letter-spacing: 0.05em;
}

.year {
    font-size: 18px;
    color: #808080;
}

.intro {
    
    font-size: 16px;
    color: #D6D6D6;
    line-height: 1.4em;
    break-after: p;
}

.col2 {
    width: 100%;
    float: left;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    column-count:3;
    column-gap:30px;
}
.block1 {
    border-bottom: 1px solid #1F1F1F;
    padding-bottom: 10px;
    margin-bottom: 20px;
    overflow: auto;
}


/*------------authorship-------------*/

/*
.authorship {
    width: 30%;
    float: left;
    padding-left: 50px;
}
*/

.authorship {
    font-size: 14px;
    /* line-height: 1.4em; */
    margin-bottom: 0;
    color: #fff;
    color: #D6D6D6;
    font-weight: 300;
}


/*------------tooltip-------------*/


#tooltipbox {
    /*    width: 340px;*/
    position: relative;
    float: left;
    /*    padding: 10px 20px 10px 20px;*/
    font-weight: 300;
    stroke: 1px;
    margin-top: -10px;
}

#war {
    width: 350px;
    font-size: 30px;
    color: #fff;
    margin-top: -5px;
    background-color: rgba(24, 32, 33, 0.9);
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#country {
    font-size: 18px;
    line-height: 1.5em;
    padding-bottom: 5px !important;
}

#dates {
    font-size: 14px;
    color: #D6D6D6;
    line-height: 1.5em;
    padding-bottom: 5px !important;
}

#defeated {
    font-size: 14px;
    line-height: 1.5em;
    width: 350px;
    background-color: rgba(24, 32, 33, 0.9);
    margin-top: -10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}

#winners {
    font-size: 14px;
    line-height: 1.5em;
    width: 350px;
    background-color: rgba(24, 32, 33, 0.9);
    margin-top: -10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.tooltiptext {
    font-size: 14px;
    color: #808080;
    width: 350px;
    background-color: rgba(24, 32, 33, 0.9);
    margin-top: -10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 5px !important;
}

.tooltiptext2 {
    font-size: 14px;
    color: #808080;
    width: 350px;
    background-color: rgba(24, 32, 33, 0.9);
    margin-top: -10px;
    padding-left: 20px;
    padding-right: 10px;
}


/*------------buttons-------------*/

.btn-default {
    color: #808080;
    background-color: #333;
    border-color: #808080;
    border-radius: 0;
    margin-top: 0px;
}

.btn-default:hover,
.btn-default.active,
.btn-default:active,
.btn-default.focus,
.btn-default:focus {
    color: #F7F7F7;
    background-color: #333;
    border-color: #F7F7F7;
    border-radius: 0;
}


/*------------legend-------------*/

.block2 {
    float: none;
}

.explanation {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 5px;
    width: 40%;
    float: left;
    padding-left: 25px;
}

.legend {
    width: 25%;
    float: left;
}

.legendline {
    width: 100%;
    overflow: auto;
    margin-top: 10px;
}

.dash {
    font-weight: bold;
    float: left;
    margin-top: -2px;
}

.legendText {
    float: left;
    margin-left: 5px;
    margin-right: 50px;
    font-size: 14px;
    font-weight: 400;
}
#legend1 {
    margin-right: 68px;
}